<h1>Create a New Figure</h1>

<form action="/figures" method="post">

  <label for="figure_name">Name: </label>
  <input type="text" name="figure[name]" id="figure_name">

  <br></br>

  <label for="choose_landmark">Choose a Landmark:</label>

  <br></br>
  <% @landmarks.each do |landmark| %>
    <%= landmark.name %><input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>">
  <% end %>
  <br></br>
  <label for="create_landmark">Or create a New One:</label>
  <input type="text" name="landmark[name]" id="new_landmark">
  <br></br>

  <label for="choose_title">Choose a Title:</label>

  <br></br>
  <% @titles.each do |title| %>
    <%= title.name %><input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>">
  <% end %>
  <br></br>
  <label for="create_title">Or create a New One:</label>
  <input type="text" name="title[name]" id="new_title">
  <br></br>

  <input type="submit" name="Create New Figure" value="Create New Figure">

</form>
